name: 42Crunch Audit

permissions:
  # required for all workflows
  security-events: write

# on: pull_request

# follow standard Code Scanning triggers
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
    
jobs:
  api_audit_job:
    runs-on: ubuntu-latest
    name: Audit OpenAPI files
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
        
      - name: 42crunch-static-api-testing
        uses: 42crunch/api-security-audit-action@v3.5.0rc1
        with:
          # Please create free account at https://platform.42crunch.com/register
          # Follow these steps to configure API_TOKEN https://docs.42crunch.com/latest/content/tasks/integrate_github_actions.htm
          api-token: ${{ secrets.API_TOKEN }}
          platform-url: https://platform.42crunch.com
          default-collection-name: Code-Scanning-Import
          # Upload results to Github code scanning
          upload-to-code-scanning: false
          log-level: debug
          min-score: 35
          json-report: audit-action-report-${{ github.run_id }}
      
      - name: save-audit-report
        if: always()        
        uses: actions/upload-artifact@v3
        with:
          name: auditaction-report-${{ github.run_id }}
          path: audit-action-report-${{ github.run_id }}.json
          if-no-files-found: error
          
